* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arima";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1, h2, h3 {
    color: #0056b3;
}

.container {
    background-color: #e0f2ff; 
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

header {
    text-align: left;
    margin-bottom: 30px;
}

.titulo-principal {
    display: flex;
}

.noticias {
    display: flex;
    margin-bottom: 20px;
    background-color: #eef;
    padding: 10px;
    border-radius: 5px;
}

.noticias > img {
    margin-right: 10px;
    width: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.aulas, .notas, .frequencia, .atividades {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"] {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
}

.logo {
    margin-left: auto;
    width: 100px;
}

.material-symbols-outlined {
    margin-right: 8px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined:hover {
    color: #0056b3;
    transform: rotate(10deg);
}

.menu-aulas {
    display: flex;
}

.letter {
    fill: blue;
    font-size: 48px;
    font-family: Comic Sans MS, sans-serif;
    opacity: 0;
    transform: translateY(20px);
    animation: arrive 0.5s forwards;
}

.svg-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.letter:nth-child(1) { animation-delay: 0.1s; }
.letter:nth-child(2) { animation-delay: 0.3s; }
.letter:nth-child(3) { animation-delay: 0.5s; }
.letter:nth-child(4) { animation-delay: 0.7s; }
.letter:nth-child(5) { animation-delay: 0.9s; }
.letter:nth-child(6) { animation-delay: 1.1s; }

@keyframes arrive {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

canvas {
    max-width: 600px;
    max-height: 400px;
}

.check-box-group {
    display: flex;
    flex-direction: column;
}

.custom-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.custom-checkbox .label {
    font-size: 1.2em;
    margin: 0 10px;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #1e2ba1;
    display: inline-block;
    border-radius: 3px;
    background: #0b1497 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
    transition: background-size 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
    background-size: 60%;
    transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
    display: none;
}

.body-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.slider {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
}

img {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

h2 {
    margin: 0;
}

footer {
    background-color: #27339b;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

/* Estilo do menu */
.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-menu li {
    display: inline;
}

.footer-menu a>h3 {
    margin: 0;
    color: white;
    text-decoration: none;
}

.footer-menu span {
    margin-right: 0px;
}

.footer-menu a:hover {
    color: #00bfff;
}